<%= render 'my_account/account-nav' if @user == current_user %>

<section class="profile-container">
  <h1 class="text-xl font-bold mb-2">
    <% if @user == current_user %>
      Meu perfil
    <% else %>
      Perfil de <%= @user.name %>
    <% end %>
  </h1>
  
  <%= render partial: 'user-info', locals: {user: @user} %>
  <div class="sale-posts">
    <%= render partial: 'shared/sale_post_list', locals: { posts: @posts } %>
  </div>
</section>