<div class="profile-container">
  <h1>My Account</h1>
</div>

<div class="notifications-unseen">
  <% @user.notifications.unseen.each do |notification| %>
    <%= link_to notification.body, notification_seen_path(notification), method: :post %>
  <% end %>
</div>

<div class="my-posts">
  <h2>Meus anúncios</h2>
  <%= render partial: 'shared/sale_post_list', locals: { posts: @user.sale_posts } %>
</div>