<%= link_to 'Criar um anúncio', new_sale_post_path %>
<div class="posts-container">
  <% if @posts.empty? %>
    <p>Não há anúncios cadastrados</p>
  <% end %>
  <% @posts.each do |post| %>
    <%= post.title %>
    <%= number_to_currency post.price %>
  <% end %>
</div>
