<div class="posts-container">
  <h1 class="text-xl font-bold text-gray-900 mb-4">Anúncios</h1>
  <% if @posts.empty? %>
    <p>Não há anúncios cadastrados</p>
  <% end %>

  <%= render partial: 'shared/sale_post_list', locals: { posts: @posts } %>
</div>
