<%= link_to 'Criar um anúncio', new_sale_post_path %>
<div class="posts-container">
  <% if @posts.empty? %>
    <p>Não há anúncios cadastrados</p>
  <% end %>

  <% @posts.each do |post| %>
    <div class="post-item" data-item="<%= post.id %>">
      <%= link_to post.title, sale_post_path(post.id) %>
      <%= number_to_currency post.price %>
    </div>
  <% end %>

</div>
