<%= render 'account-nav' %>

<section class="orders-container">
  <section class="buy-orders mb-4">
    <h2 class="text-lg font-bold mb-1">Histórico de compras</h2>
    <%= render partial: 'orders-list', locals: { orders: @buy_orders } %>
  </section>

  <section class="sale-orders">
    <h2 class="text-lg font-bold mb-1">Histórico de vendas</h2>
    <%= render partial: 'orders-list', locals: { orders: @sale_orders } %>
  </section>
</section>