<section class="profile-container text-gray-900">
  <%= render 'account-nav' %>

  <div class="notifications-unseen">
    <h2 class="text-lg font-bold mt-4 mb-2">Notificações não lidas (<%= @user.notifications.unseen.size %>)</h2>
    <ul>
      <% @user.notifications.unseen.each do |notification| %>
        <li class="text-gray-800 text-sm">
          <%= link_to notification.body, notification_seen_path(notification), method: :post, class: 'bg-red-200 hover:bg-red-300 mb-2 p-2 block' %>
        </li>
      <% end %>
    </ul>
    
  </div>
</section>
