<%= render 'account-nav' %>

<section class="profile-container text-gray-900">
  <%= render partial: 'notifications', locals: { notifications: @notifications_unseen } %>

  <div class="my-orders-in-progress">
    <h2 class="text-lg font-bold mb-2">Negociações em andamento</h2>
    <% if @buy_orders.present? %>
      <div class="buy-orders px-2 mb-4">
        <h3 class="font-bold mb-1">Compra:</h3>
        <%= render partial: 'orders-list', locals: { orders: @buy_orders } %>
      </div>
    <% end %>

    <% if @sale_orders.present? %>
      <div class="sale-orders px-2">
        <h3 class="font-bold mb-1">Venda:</h3>
        <%= render partial: 'orders-list', locals: { orders: @sale_orders } %>
      </div>
    <% end %>
  </div>
</section>
