<div class="categories-container">
  <h1 class="text-xl font-bold text-gray-900 mb-4">Categorias</h1>
  <ul class="categories-list">
    <% @categories.each do |category| %>
      <li class="text-lg underline"><%= link_to category.name, category %></li>
    <% end %>
  </ul>
</div>
