<h1 class="text-xl font-bold text-gray-900"><%= @category.name %></h1>
<em class="mb-6 block">Total de anúncios em <%= @category.name %>: <%= @posts.size %></em>
  <%= render partial: 'shared/sale_post_list', locals: { posts: @posts } %>