<h1><%= @category.name %></h1>
<p>Total de anúncios em <%= @category.name %>: <%= @category.sale_posts.size %></p>
  <%= render partial: 'shared/sale_post_list', locals: { posts: @category.sale_posts } %>